.wrapper {
  background-color: transparent;
  border: none;
  height: fit-content;

  margin-top: 10px;
  margin-bottom: 15px;

  transition: all 0.2s;
}

.wrapper:hover {
  scale: 0.96;
  cursor: pointer;
}

.wrapper:active {
  opacity: 0.8;
  scale: 0.9;
}